node_modules/
.pnp
.pnp.js

coverage/
*.lcov
.nyc_output

dist/
dist-ssr/
*.local

.vite/
vite.config.*.timestamp-*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~
.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.tmp
*.temp
*.bak
*.cache
.cache/

.npm

.eslintcache

.stylelintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

.parcel-cache

.next/
out/

.nuxt/

.out
.storybook-out

tmp/
temp/
